<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Order Forms</title>

    <!--  Bootstrap + CSS    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="home.html">
        <img class="rounded-circle" src="../resources/img/logo.jpg" alt="" width="90" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="account.html">Account<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sales.html">Sales</a>
          </li>
          <li>
            <a class="nav-link" href="inventory.html">Inventory</a>
          </li>
          <li>
            <a class="nav-link" href="order_forms.html">Order Forms</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <a href="login.html">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
          </a>
        </div>
      </div>
    </nav>


    <br>
    <h1 align="center">Order Form</h1>
    <br>
    <table class="table table-striped">
      <thead class="thead-dark" align="center">
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Unit Cost</th>
          <th scope="col">Amount In Stock</th>
          <th scope="col">Amount</th>
          <th scope="col">Unit</th>
          <th scope="col">Total Cost</th>
        </tr>
      </thead>
      <tbody align="center">
        <tr>
          <th scope="row">Chicken</th>
          <td>$0.50 / Oz</td>
          <td>35</td>
          <td>
            <div class="col-sm-4">
              <input type="number" class="form-control" name="numIngredients" id="numIngredients${i}" placeholder="e.g 4">
            </div>
          </td>
          <td>Oz</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Avocadoe</th>
          <td>$0.24 / Whole Item</td>
          <td>28</td>
          <td>
            <div class="col-sm-4">
              <input type="number" class="form-control" name="numIngredients" id="numIngredients${i}" placeholder="e.g 4">
            </div>
          </td>
          <td>Whole Item(s)</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Ranch</th>
          <td>$2.00 / Gallon</td>
          <td>9</td>
          <td>
            <div class="col-sm-4">
              <input type="number" class="form-control" name="numIngredients" id="numIngredients${i}" placeholder="e.g 4">
            </div>
          </td>
          <td>Gallon(s)</td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
